<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="Laravel Settings Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="APP_KEY" value="base64:eoWhtZbA60jG9AjZ4e2laYeISTdFMD0JeWEafGIAaHM="/>
        <server name="DB_CONNECTION" value="sqlite"/>
        <server name="DB_DATABASE" value=":memory:"/>
        <server name="CACHE_DRIVER" value="array"/>
    </php>
</phpunit>
